.new-post{
   text-align: justify;
  label{
    color: dimgrey;
  }
  form{
    background-color: white;
    box-shadow: -1px 5px 6px rgb(0 0 0 / 8%);
    border-radius: 4px;
    padding: 18px 6px;

  }
}
