.Login {
   h4{
     text-align: center;
     padding: 10px 4px 6px ;
     color:indigo;
     font-size: 30px;
     direction: rtl;
     font-family: fantasy;
   }
    padding: 100px 4px 90px 5px;
  label {
    text-align: right;
    float: right;
  }
  .form-login{
    box-shadow: 1px 2px 3px white;
    background-color: white;

  }

}
